<fieldset>
    <legend>{{ text_panel_heading_others }}</legend>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
        <div class="col-sm-10">
            <input type="text" name="payment_{{ instance }}_total" value="{{ settings.total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
        <div class="col-sm-10">
            <select name="payment_{{ instance }}_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == settings.order_status_id %}
                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
        <div class="col-sm-10">
            <select name="payment_{{ instance }}_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                    {% if geo_zone.geo_zone_id == settings.geo_zone_id %}
                        <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                    {% else %}
                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-test"><span data-toggle="tooltip" title="{{ help_test }}">{{ entry_test }}</span></label>
        <div class="col-sm-10">
            <select name="payment_{{ instance }}_test" id="input-test" class="form-control">
                {% if settings.test == 'sandbox' %}
                    <option value="test" selected="selected">{{ text_enabled }}</option>
                {% else %}
                    <option value="test">{{ text_enabled }}</option>
                {% endif %}
                {% if settings.test == 'live' %}
                    <option value="live" selected="selected">{{ text_disabled }}</option>
                {% else %}
                    <option value="live">{{ text_disabled }}</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
        <div class="col-sm-10">
            <input type="text" name="payment_{{ instance }}_sort_order" value="{{ settings.sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
        </div>
    </div>
    <div class="alert alert-info">{{ help_quickpay_setup }}</div>
</fieldset>
